/* iPhone14 390×844 */
@media(min-width: 390px) and (min-height: 844px){
  

  .backgroundSpace {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    background-image: url("../../../public/images/色付き星.png"),
                      url("../../../public/images/空.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

  }

  .whiteStars{
    width: 100vw;
    height: 100vh;
    z-index: -1;

    background-image: url("../../../public/images/白い星.png");
    background-size: auto 100%; /* 横に繰り返すので横サイズ自動 */
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: moveStars 5s linear infinite;
  }

  .planet{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    animation: float 10s ease-in-out infinite alternate, spin 60s linear infinite;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .Earth{
    background-image: url("../../../public/images/地球.png");
  }

  .Sun{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    background-image: url("../../../public/images/太陽.png");

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

  }

  .Jupiter{
    background-image: url("../../../public/images/木星.png");
  }

  .Mars{
    background-image: url("../../../public/images/火星.png");
  }

  @keyframes moveStars {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -100vw 0; /* 好きな動きに調整 */
    }
  }

  @keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

    .backgroundShip {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url("../../../public/images/宇宙船iPhone14.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .index {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;

    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    gap: 64px;
    font-family: var(--font-geist-sans);
  }


  .main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-row-start: 2;

  }
  .imageWrapper{
    position: relative;
    width: clamp(140px, 35vw, 260px);
    height: auto;
  }
  .character{/*キャラクターの調整*/
    object-fit: contain;
  }
  @media (max-width: 400px) {
    .index {
      padding: 40px;
      gap: 32px;
    }

    .imageWrapper {
      width: 200px;
      height: 200px;
    }
  }
}