/*すべてのボタンに共通の基本スタイル*/
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    transition:
        filter 0.2s ease-out,
        transform 0.2s ease-out,
        opacity 0.2s ease-out,
        box-shadow 0.2s ease-out;

    user-select: none;
    -webkit-user-select: none;
}

/*無効化されたボタンのスタイル*/
.button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

.quest {
    background-image: url('../../../public/images/右下モニター.png');
    background-size: 100% 100%;
    width: 200px;
    height: 150px;
    padding: 5px;
    font-size: 18px;
    color: #9c9b9b;
    
}

.addword {
    background-image: url('../../../public/images/右下モニター.png');
    background-size: 100% 100%;
    width: 200px;
    height: 150px;
    padding: 0;
    font-size: 18px;
    color: #9c9b9b;
}

.red{
    background-image: url('../../../public/images/redButton.png');
    background-size: 100% 100%;
    width: 200px;
    height: 150px;
    padding: 0;
    font-size: 18px;
    color: #9c9b9b;

}
.menu{
    background-image: url('../../../public/images/ホーム画面へ.png');
    position: fixed;
    display: flex;
    justify-content: center; /* 水平方向中央 */
    align-items: center;     /* 垂直方向中央 */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    font-size: 18px;
    color: #9c9b9b;
}